<div [formGroup]="formGroup">
  <mat-form-field class="full-width">
    <textarea matInput 
              [placeholder]="titulo" 
              [name]="controlName" 
              [formControlName]="controlName">
    </textarea>
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required') "> Campo obrigatório</mat-error> 
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'minlength')"> Minimo 2 caracteres</mat-error> 
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'maxlength')"> Maximo 256 caracteres</mat-error> 
  </mat-form-field>
</div>
