<mat-list *ngIf="filme; else semResgistro">
  <mat-list-item>Titulo: {{filme.titulo}}</mat-list-item>
  <mat-list-item>Data de Lançamento: {{filme.dtLancamento | date:'dd/MM/yyy'}}</mat-list-item>
  <mat-list-item>Genero: {{filme.genero}}</mat-list-item>
  <mat-list-item>Descrição: {{filme.descricao}}</mat-list-item>
  <mat-list-item>Nota: <a [href]="filme.urlIMDb" target="_blank">{{filme.nota}}</a></mat-list-item>
  <img mat-card-image [src]="filme.urlFoto || semfoto">
  
</mat-list>

<ng-template #semResgistro>
  <h1 class="full-width main-div"> Registro encontrado</h1>
</ng-template>